.board {
    display: flex;
    flex-direction: column-reverse;
}

.row {
    display: flex;
}

.row-square {
    width: 25px;
    height: 25px;
    padding: 15px;
}

.row-active {
    cursor: pointer;
}

.hole {
    border: 1px solid white;
    border-top: none;
    border-radius: 50%;
}